@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Mada:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;

}
#add_project{
    border: none;
    background-color: transparent;
}
nav{
    position: fixed;
    box-sizing: border-box;
    width: 20rem;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(7deg, #513FB9 2.79%, #B93FAD 82.25%);
    padding:1rem 2rem 0rem 2rem;


}
#logo{
    width: 5.0625rem;
    height: 5.0625rem;
    flex-shrink: 0;
    margin-left: auto;
}
#header{
    display: flex;
    flex-wrap: wrap;
}
#header>h1{
    font-family: "Mada", serif;
    
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130.033%;
    color: #efeaea;
}
nav>#main_todo{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}
nav > *,#add_project{
    color: #ffffff;
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-optical-sizing: auto;
    font-style:italic;
    font-weight: 400px ;
    line-height: normal;
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
    
}
#projects_header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1.6rem;
    font-size: 1.7rem;
}

#projects>#content{
    padding-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
#add_project{
    font-size: small;
    margin-left: 4rem;
    padding-top: 1rem;
}
.item{
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
}
.item:hover,#add_project:hover{
    background: linear-gradient(77deg, #bdfffc 73.88%, #ffffff 97.73%);
    /* background-color: #ffffffef; */
    background-clip: text;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: larger;
     */
     transform: scale(1.2); 

    }
.active{
    color: #1c1fea;
    /* font-size: larger;
     */
     transform: scale(1.2); 
     
    
}

#Todo{
    font-size: 3.5rem;
    margin: 2rem 2rem 0rem 2rem;
    width: 1fr;
    font-family: "Mada", serif;
}
#Todo_type{
    width: 1fr;
    font-size: 2rem;
    margin: 0rem 2.5rem;
    text-decoration: underline;
    font-family: "Mada", serif;
    
}
#plus{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    
}
#plus_button{
    background: none;
    border: none;
    cursor: pointer;

}
#input_form{
    border-radius: 2rem;
    height: 30rem;
    width: 47rem;
    border-radius: 2.875rem;
    border: 0px solid #000;
    background: #ffffff;
    flex-shrink: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
#input_form::backdrop{
    background-color: #0607177b;
    
}

#input_form *{
    font-family: "Roboto", serif;
    font-style: italic;
    
}

label{
    font-size: large;
}

input{
    
    border-radius: 0.5rem;
    border: none;
    border: 2px rgb(86, 0, 247) solid;
    background-color: rgb(222, 219, 219);
}
.inputForTodo{
    float: right;
    width: 45%;
    height: 1.7rem;
}
input:focus{
    border: none;
    outline: none;
    background-color: rgba(220, 184, 250, 0.365);
    border: 2px rgb(137, 23, 189) solid; 
    border-radius: 0.5rem;
}
input:valid{
    border: 3px rgb(82, 194, 82) solid;
}


.details{
    margin-top: 0.3rem ;
    margin-right: 6rem;
    margin-bottom: 0.3rem;

}
#priority{
    margin-top: 3rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
    gap: 16rem;
}
/* 
#priority button{
    width: 4.5rem;
    height: 1.6rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
} */
#low{
    /* border: 1px rgb(0, 0, 0) solid; */
    background-color: rgb(246, 221, 0);
    width: 4.5rem;
    height: 1.6rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}
#high{
    background-color: rgba(255, 0, 0, 0.838);
    width: 4.5rem;
    height: 1.6rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#medium{
    background-color: rgba(70, 204, 70, 0.866);
    width: 4.5rem;
    height: 1.6rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    border: none;
    color: #FFF;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#low:hover{
    color:rgb(246, 221, 0);
    background-color: #FFF;
}
#medium:hover{
    color:rgba(70, 204, 70, 0.866);
    background-color: #FFF;
}
#high:hover{
    color:rgba(255, 0, 0, 0.838);
    background-color: #FFF;
}
#low.click { color: rgb(246, 221, 0); background-color: #FFF; }
#medium.click { color: rgba(70, 204, 70, 0.866); background-color: #FFF; }
#high.click { color: rgba(255, 0, 0, 0.838); background-color: #FFF; }

#input_context{
    box-sizing: border-box;
    margin: 3rem;
}
#input_context>h1{
    margin-bottom: 2.5rem;
}
#cancel{
    all:unset;
    width: 59.3px;
    height: 59.3px;
    
}

#submit{
    all:unset;
    width: 60px;
    height: 60px;
    

}

#form-btn{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: 3rem 4rem;
    
}
#pri-value{
    display: none;
}

#todo{
    width: 8rem;
    height: 2rem;
    background-color: #1c1fea;
    display: flex;
    width: 50rem;
    height: 3rem;
    border: none;
    border-radius: 0.7rem;
    background: linear-gradient(90deg, #493E48 0%, #935ACC 67.52%, #E339CD 100%);
    color: #FFF;
    font-size: medium;   
    font-family:"Mada", serif;
    align-items: center;
    margin:1rem 3rem;
    flex-direction: row;
}

#Todo-titles{
    height: fit-content;
}

#main-page{
    display: flex;
    flex-direction: column;
    margin-left:20rem ;
}
#myCheckbox{
    margin-right: auto;
    width: 1.7rem;
    margin: 1rem;
    
    cursor: pointer;
    
    
}
#myCheckbox:checked {
    accent-color: #ffffff; 
    
    
}

#todo >button,.btn{
    background-color: transparent;
    border: none;
    
}
#info{
    height:32px;
    margin-left: auto;
    padding-right: 1rem;
}
#del{
    margin-right: 2rem;
}

#Info{
    border-radius: 2rem;
    height: 15rem;
    width: 25rem;
    /* display: hidden; */
    /* flex-direction: row; */
    border-radius: 2.875rem;
    border: 0px solid #000;
    background: #ffffff;
    flex-shrink: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    

}

#Info::backdrop{
    background-color: #00000056;
}
#Info-div{
    margin: 3rem 0rem 3rem 3rem;
    margin-right: auto; 
    font-family:"Mada", serif;
   
}
#info-close{
    position: fixed;
    border: none;
    height: 40px;
    margin: 1rem 1rem 0rem 0rem;
    
    
    
}
#addDialog{
    border: none;
    border-radius: 0.5rem;
    font-family: "Roboto", serif;
    /* position:fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000;
    width: 20rem;
    /* height: 8rem; */
}

#addDialog::backdrop{
    background-color: #00000056;
}
#addProject{
    width: 18rem;

    margin:1rem 0rem 1rem 0rem;
    height: 2rem;
    display: flex;
}

#addDialog #form-btn{
    margin: 0rem ;
}

.project-close-btn{
    width: 2rem;
    margin-left: auto;
    height: 2rem ;
    border: none;
    background-color: transparent;
}