@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Mada:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;

}
nav{
    box-sizing: border-box;
    width: 20rem;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(7deg, #513FB9 2.79%, #B93FAD 82.25%);
    padding:1rem 2rem 0rem 2rem;


}
#logo{
    width: 5.0625rem;
    height: 5.0625rem;
    flex-shrink: 0;
    margin-left: auto;
}
#header{
    display: flex;
    flex-wrap: wrap;
}
#header>h1{
    font-family: "Mada", serif;
    
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130.033%;
    color: #efeaea;
}
nav>#main_todo{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}
nav > *{
    color: #ffffff;
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-optical-sizing: auto;
    font-style:italic;
    font-weight: 400px ;
    line-height: normal;
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
}
#projects_header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1.6rem;
    font-size: 1.7rem;
}

#projects>#content{
    padding-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
#add_project{
    font-size: small;
    margin-left: 4rem;
    padding-top: 1rem;
}
.item:hover{
    background: linear-gradient(77deg, #FFF 73.88%, #352F2F 97.73%);
    background-clip: text;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: larger;
     */
     transform: scale(1.2); 

    }
.active{
    color: #1c1fea;
    /* font-size: larger;
     */
     transform: scale(1.2); 
     
    
}

#Todo{
    font-size: 3.5rem;
    margin: 2rem 2rem 0rem 2rem;
    width: 1fr;
    font-family: "Mada", serif;
}
#Todo_type{
    width: 1fr;
    font-size: 2rem;
    margin: 0rem 2.5rem;
    text-decoration: underline;
    font-family: "Mada", serif;
    
}
#plus{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    
}
#plus_button{
    background: none;
    border: none;
    cursor: pointer;

}
#input_form{
    border-radius: 2rem;
    height: 30rem;
    width: 47rem;
    border-radius: 2.875rem;
    border: 0px solid #000;
    background: #ffffff;
    flex-shrink: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
#input_form::backdrop{
    background-color: #0607177b;
    
}

#input_form *{
    font-family: "Roboto", serif;
    font-style: italic;
    
}
form{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    
}
label{
    font-size: large;
}

input{
    float: right;
    width: 45%;
    height: 1.7rem;
    border-radius: 0.5rem;
    border: none;
    border: 2px rgb(86, 0, 247) solid;
    background-color: rgb(222, 219, 219);
}

input:focus{
    border: none;
    outline: none;
    background-color: rgba(220, 184, 250, 0.365);
    border: 2px rgb(137, 23, 189) solid; 
    border-radius: 0.5rem;
}


.details{
    margin-top: 0.3rem ;
    margin-right: 6rem;
    margin-bottom: 0.3rem;

}
#input_context{
    box-sizing: border-box;
    margin: 3rem;
}
#input_context>h1{
    margin-bottom: 2.5rem;
}